@charset "utf-8";

.help {
	display: block;
	margin-left: 50px;
	margin-top: 50px;
    margin-right: 50px;
	margin-bottom: 50px;
	width: 700px;
}

#fatman {
	display: block;
	margin-left: auto;
	margin-top: 50px;
    margin-right: auto;
	margin-bottom: 50px;
}

#messageResult {
	font-size: xx-large;
	font-weight: bold;
	color: brown;
	text-align: center;
}